<main>
  <div class="content-wrapper">
    <div class="page-header">
      <h1>{{event.title}}</h1>
    </div>
    <div class="wysiwyg js-content">
      <div class="block-content">
        <time>{{event.date}}</time>


        <div class="news-gallery-wrapper">
          <div class="gallery ">
            <div class="img-wrap">
              <img src='{{event.image}}' alt="">
            </div>
          </div>

        </div>
        <div class="preview-text">
          <p>
            {{event.description}}
          </p></div>

        <div class="clearfix"></div>

        <p>
          {{event.information}}
        </p></div>
      <div class="news-pagination">
        <div class="prev">
        </div>

        <div class="next">
          <a href="/about/news/preobrazovateli-chastoty-serii-skad-drayv-2000-voshli-v-reestr-ovp-transneft/" class="classic-link">
            <span>Преобразователи частоты серии СКАД Драйв 2000 вошли в реестр ОВП «Транснефть»</span>
          </a>

          <img src="/upload/resize_cache/iblock/6e6/155_96_1/6e6c8f34f4bebdc434d28dd1836b7edc.jpg" alt="Преобразователи частоты серии СКАД Драйв 2000 вошли в реестр ОВП «Транснефть»" class="preview">
        </div>
      </div>


    </div>
  </div>
</main>
