main
  flex: 1 0 auto
.content-wrapper
  margin: 0 auto
  width: 100%
  max-width: 1140px
  box-sizing: border-box
.page-header
  margin-bottom: 75px
  padding: 0 0 0 20px
.block-content
  position: relative
  padding-left: 20px
  font-size: 16px
  color: #666
  time
    font-size: 20px
    font-weight: 700
    color: #999
  .html
    margin-top: 20px




.news-pagination
  position: relative
  display: -ms-flexbox
  display: flex
  -ms-flex-pack: justify
  justify-content: space-between
  -ms-flex-align: stretch
  align-items: stretch
  background: #f2264d
  padding: 25px 80px



.prev, .next
  width: 50%
  a span
    color: white
    border-bottom: 1px solid

  a:hover
    border: none
.prev
  margin-right: auto
  text-align: right
  padding-right: 40px
.next
  margin-left: auto
  text-align: left
  padding-left: 40px
