<app-headline [title]="headline"></app-headline>
<div class="contacts-list">
  <div *ngFor="let event of events | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize" class="event">
    <app-contact id="contact"  routerLink='/admin/edit-news/edit/'
               [contact]="event"></app-contact>
  </div>
</div>

      <div class="navigation">
        <ngb-pagination [collectionSize]="events.length" [pageSize]="pageSize" [(page)]="page" [boundaryLinks]="false"></ngb-pagination>
      </div>


