<div class="fp-tableCell" style="height:821px;">
  <div class="content-wrapper">
    <div class="section-title paddinged">
      Компания <br>
      SCAD tech        </div>
    <div class="about-wrapper">
      <div class="main-section-info">
        <div>
          Группа компаний «СКАД тех»&nbsp;— эксперт в&nbsp;разработке и&nbsp;внедрении комплексных решений в&nbsp;сфере автоматизации технологических процессов. <br>
          <br>
          <p>
          </p>
          <p class="small">
            Мы&nbsp;— надежный производитель и&nbsp;интегратор передовых систем автоматизированного управления для нефтегазового сектора, горно-металлургической промышленности, энергетики, транспорта и&nbsp;инфраструктуры.&nbsp;<br>
          </p>
          <br>
          <a href="http://scadtech.ru/about/">Подробнее</a>
          <p></p>
        </div>
        <br>            </div>
      <div class="about-container">
        <a href="https://youtu.be/uf06LGavWck?rel=0&amp;showinfo=0" class="about-video js-popup">
          <img src="http://scadtech.ru/upload/resize_cache/iblock/4b1/650_345_1/4b1c01478d8f4a89cd25eec1a359a782.jpg" alt="">
        </a>

        <div class="about-summary">
          <div class="summary-item">
            <div class="item-inner">
              <div class="item-count">
                17                                    </div>
              <div class="item-text">
                лет опыта работы <br>
                в&nbsp;промышленной <br>
                автоматизации<br>                                    </div>
            </div>
          </div>
          <div class="summary-item">
            <div class="item-inner">
              <div class="item-count">
                1207                                    </div>
              <div class="item-text">
                квалифицированных сотрудников                                    </div>
            </div>
          </div>
          <div class="summary-item">
            <div class="item-inner">
              <div class="item-count">
                11                                    </div>
              <div class="item-text">
                офисов компании <br>
                в&nbsp;городах России                                    </div>
            </div>
          </div>
          <div class="summary-item">
            <div class="item-inner">
              <div class="item-count">
                9000                                    </div>
              <div class="item-text">
                кв.м — производственная площадь                                    </div>
            </div>
          </div>
        </div>
      </div>
      <div class="about-map">
      </div>
    </div>
  </div>
</div>
