<div class="header fixed" #fixed>
  <div class="content-wrapper">
    <div class="logo-wrapper">
      <a href="/" class="header-logo">
        <img
          alt="logo"
          src="../../../assets/logo.svg"

      /></a>
    </div>
    <div class="menu-wrapper">
      <ul class="header-menu">
        <li>
          <a routerLink="/about/" routerLinkActive="active">О компании</a>
          <ul class="list">
            <li>
              <a routerLink="/about/news/">Новости</a>
            </li>
            <li>
              <a routerLink="/about/partners-and-certifications/">Партнеры и сертификаты</a>
            </li>
            <li>
              <a routerLink="/about/our-leadership/">Наше руководство</a>
            </li>
          </ul>
        </li>
        <li>
          <a routerLink="/production/" routerLinkActive="active"
            >Производство</a>
         <!-- <ul class="list">
            <li>
              <a routerLink="/production/produktsiya-/">Продукция</a>
            </li>
            <li>
              <a routerLink="/production/procurement/">Закупки</a>
            </li>
          </ul>-->
        </li>
        <li>
          <a routerLink="/documentation/" routerLinkActive="active">Документация</a>
        </li>
        <li>
          <a routerLink="/contacts/" routerLinkActive="active">Контакты</a>
        </li>
      </ul>
    </div>
    <div class="header-contacts">
      <a routerLink="tel:74953748032" class="header-phone js-phone-header">+7 495 374-80-32</a>
      <a routerLink="mailto:info@scad.su" class="header-mail">info@scad.su</a>
    </div>
  </div>
</div>
<header class="header" #header>
  <div class="content-wrapper">
    <div class="logo-wrapper" routerLink="/">
      <img
        alt="logo"
        src="../../../assets/logo.svg"
      />
    </div>
    <div class="menu-wrapper">
      <div class="menu-title">
        Комплексные решения в сфере управления технологиями
      </div>
      <nav role="navigation">
        <ul class="header-menu">
          <li>
            <a routerLink="/about/" routerLinkActive="active">О компании</a>
            <ul class="list">
              <li>
                <a routerLink="/about/news/">Новости</a>
              </li>
              <li>
                <a routerLink="/about/partners-and-certifications/">Партнеры и сертификаты</a>
              </li>
              <li>
                <a routerLink="/about/our-leadership/">Наше руководство</a>
              </li>
            </ul>
          </li>
          <li>
            <a routerLink="/production/" routerLinkActive="active">Производство</a>
           <!-- <ul class="list">
              <li><a routerLink="/production/produktsiya-/">Продукция</a></li>
              <li><a routerLink="/production/procurement/">Закупки</a></li>
            </ul>-->
          </li>
          <li>
            <a routerLink="/documentation/" routerLinkActive="active">Документация</a>
          </li>
          <li>
            <a routerLink="/contacts/" routerLinkActive="active">Контакты</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="header-contacts">
      <a href="tel:74953748032" class="header-phone js-phone-header">+7 495 374-80-32</a>
      <a href="mailto:info@scad.su" class="header-mail">info@scad.su</a>
    </div>
  </div>
</header>
