<div class="about-block about-as">
  <div class="content-wrapper">
    <div class="block-content wysiwyg">
      <h1>Компания SCAD tech</h1>
    </div>
    <div class="grid-row">
      <div class="col-sm-12 col-md-12 col-lg-8">
        <div class="block-content wysiwyg">
          <section>
            <p>
            </p>
          </section><section></section>
          <div>
            <section>
              <p>
                Группа компаний «СКАД тех»&nbsp;— эксперт в&nbsp;разработке и&nbsp;внедрении комплексных решений в&nbsp;сфере автоматизации технологических процессов.
              </p>
              <p>
                Мы&nbsp;— надежный производитель и&nbsp;интегратор передовых систем автоматизированного управления для нефтегазового сектора, горно-металлургической промышленности, энергетики, транспорта и&nbsp;инфраструктуры.&nbsp;Объединив профессиональные знания и&nbsp;компетенции, используя инновационные технологии, мы&nbsp;помогаем нашим клиентам решать их&nbsp;производственные задачи.
              </p>
              <p>
                Создавая решения&nbsp;мы&nbsp;применяем современные аппаратные и&nbsp;программные комплексы мировых лидеров в&nbsp;сфере автоматизации технологических процессов (Siemens, Schneider Electric, B&amp;R, ABB), а&nbsp;также ведущих российских производителей (PROSOFT).<br>
                На&nbsp;собственных производственных мощностях мы&nbsp;выпускаем десятки типов высококачественной продукции&nbsp;для систем автоматизации.
              </p>
              <p>
                «СКАД тех»&nbsp;— лидер в&nbsp;разработке российского ПО&nbsp;для построения многоуровневых территориально-распределенных систем сбора данных и&nbsp;управления, прикладного ПО&nbsp;для управления трубопроводным транспортом.
              </p>
              <p>
              </p>
            </section>
          </div>
          <section></section><section>
          <p>
          </p>
        </section>            </div>
      </div>

      <div class="col-sm-12 col-md-12 col-lg-4">
        <div class="media-list">
          <a class="media-item js-popup" href="https://www.youtube.com/watch?v=uf06LGavWck&amp;rel=0&amp;showinfo=0">
            <div class="preview video">
              <img src="http://scadtech.ru/upload/resize_cache/iblock/968/360_190_1/968c43359f14b534478b15e70007fc4c.jpg" alt="Медиа 1 " title="Медиа 1 ">
            </div>

            <div class="caption">
              Презентационный ролик Группы «СКАД тех»                      </div>
          </a>
        </div>
      </div>
    </div>
  </div></div>
