<app-headline [title]="headline"></app-headline>
<div class="grid-row">
  <div class="col-lg-9 col-small-lg-12 container">
    <ol>
      <li><a routerLink="/production/produkt-1/">Шкафы, щиты и приборные консоли</a></li>
      <li><a routerLink="/production/blockbox/">Блок-контейнерная продукция</a></li>
      <li><a routerLink="/production/electrotechnical-products/">Электротехническая продукция</a></li>
      <li><a routerLink="/production/sredstva-izmereniya/?clear_cache=Y">Средства измерения</a></li>
      <li><a routerLink="/production/scad-cc-pipeline-kit/">SCAD CC Pipeline Kit</a></li>
    </ol>
    <img width="1203" src="http://scadtech.ru/upload/medialibrary/DSC_3969.jpg" height="803"><br>
    <app-popup [title]="'Напишите нам'"></app-popup>
  </div>
</div>
