<div class="container">
  <app-headline [title]="'Partners and sertificates'"></app-headline>
  <button class="save">Save</button>
  <div>
    <hr>
    <table>
      <tbody>
      <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Description</th>
        <th>File</th>
        <th></th>
      </tr>
      <tr *ngFor="let partner of partners">
        <td><img class="image" src="{{partner.image}}"></td>
        <td>{{partner.name}}</td>
        <td>{{partner.description}}</td>
        <td>{{partner.file}}</td>
        <td><i class="material-icons" (click)="delete(partner)">close</i></td>
      </tr>
      </tbody>
    </table>

  </div>
  <app-headline [title]="'Add new partner and sertificate'"></app-headline>
  <div class="img">
    <h2>Image</h2>
    <input value="" id="image">
  </div>
  <div class="name">
    <h2>Name</h2>
    <input value="" id="name">
  </div>
  <div class="description">
    <h2>Description</h2>
    <input value="" id="description">
  </div>
  <div class="file">
    <h2>File</h2>
    <input value="" id="file">
  </div>
  <button (click)="add()">Add new</button>
</div>
