<div class="container">
  <div class="inline">
    <app-headline [title]="headline"></app-headline>
    <button routerLink='/edit-partners/add'>Add new</button>
  </div>
  <div class="contacts-list">
    <div *ngFor="let item of partners | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize" class="event">
      <app-item routerLink='/edit-partners/{{item._id}}'
                [item]="item"
                [key]="'partners'"></app-item>
      <i (click)="deletePartner(item)" class="close material-icons">close</i>
    </div>
  </div>
  <ngb-pagination [collectionSize]="partners.length" [pageSize]="pageSize" [(page)]="page"
                  [boundaryLinks]="false"></ngb-pagination>
</div>
