<div  >
  <div class="inline">
    <app-headline [title]="'Стиль сайта'"></app-headline>
    <button (click)="save()">Сохранить</button>
  </div>
  <div class="color">
    <h3>Изменить цвет текста: </h3>
    <input class="input-color" [style.background]="color" [(colorPicker)]="color" (colorPickerChange)="changeColor($event)"/>
  </div>
  <div class="logo">
    <h3>Изменить логотип (тип файла: ".svg"): </h3>
    <input type="file" accept=".svg">
  </div>
  <form [formGroup]="profileForm">
    <div class="background">
      <h3>Изменение фонового изображения (тип файла: ".png"): </h3>
      <input type="file" accept=".png" (change)="changeBackground()" formControlName="background">
    </div>
  </form>

</div>
