@import 'src/app/app.component'
.container
  margin: 20px 100px
input
  margin: 0 20px
.input-color
  width: 30px
  height: 30px
  border-radius: 50%
  border: none
.color, .logo
  display: flex
  h3
    align-items: center
button
  margin-left: auto
  margin-top: 10px
  margin-bottom: 30px
  font-size: 18px
  display: flex
  align-items: center
  justify-content: center
button:hover
  i
    color: white
.inline
  display: flex
i
