<div>
  <div class="inline">
    <app-headline [title]="'Стиль сайта'"></app-headline>
    <button (click)="save()">Сохранить</button>
  </div>
  <form [formGroup]="profileForm">
    <div class="color">
      <h3>Изменить цвет текста: </h3>
      <input class="input-color" [style.background]="f.color.value" [(colorPicker)]="f.color.value" formControlName="color"
             (colorPickerChange)="changeColor($event)"/>
    </div>
    <div class="logo">

      <div class="image-control-wrapper">
        <h3>Изменить логотип: </h3>
        <label for="uploadImage">Загрузить изображение</label>
        <div class="image-preview-block" *ngIf="!imagePreview && f.image.value">
          <img class="image-preview" src="{{ f.image.value }}" alt="image">
        </div>
        <ng-template [ngIf]="imagePreview">

          <div class="image-preview-block">
            <img class="image-preview" src="{{ imagePreview }}" alt="image"/>
          </div>
        </ng-template>
        <input id="uploadImage" name="uploadImage" class="uploadImage" type="file" accept=".png, .jpg, .jpeg, .svg"
               (change)="changeValue($event)">
      </div>
    </div>
  </form>
  <div class="inline">
    <app-headline [title]="'Информация в шапке сайта'"></app-headline>
    <button (click)="saveInf()">Сохранить</button>
  </div>
  <form [formGroup]="informationForm">
    <div class="user-group">
      <h3>Номер телефона:</h3>
      <input type="phone" formControlName="phone" />
    </div>
    <div class="user-group">
      <h3>Электронная почта:</h3>
      <input type="email" formControlName="email" />
    </div>
  </form>
 <!-- <div class="inline">
    <app-headline [title]="'Смена пароля'"></app-headline>
    <button (click)="savePassword()">Сохранить</button>
  </div>
  <form [formGroup]="userForm">
    <div class="user-group">
      <h3>Новый пароль:</h3>
      <input type="password" formControlName="password" />
    </div>
  </form>-->
</div>
