<main><div class="content-wrapper">
  <div class="page-header">
    <h1>Новости</h1>
  </div>

  <div class="block-content js-block-content">
    <div>
      <div class="grid-row">
        <div *ngFor="let event of events | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize" class="event">
          <app-event id="contact"  routerLink='/about/news/{{toTranslit(event.title)}}/'
                       [event]="event"></app-event>
        </div>
        <div class="navigation">
          <ngb-pagination [collectionSize]="events.length" [pageSize]="pageSize" [(page)]="page" [boundaryLinks]="false"></ngb-pagination>
        </div>

      </div>


     </div>
  </div></div>
</main>
