.content-wrapper
  margin: 0 auto
  width: 100%
  max-width: 1140px
  box-sizing: border-box
.block-content
  padding-left: 20px
.ideology-items
  padding-top: 5px
  counter-reset: ideology-item-counter
.ideology:before
  content: ' '
  position: absolute
  display: block
  background: #f2264d
  bottom: 0
  top: 0
  right: calc(50% + 140px)
  left: 0
  margin-bottom: auto
