@import 'src/styles'
main
  flex: 1 0 auto
.content-wrapper
  padding-bottom: 45px
  margin-bottom: 5px

.content-wrapper
  margin: 0 auto
  width: 100%
  max-width: 1140px
  box-sizing: border-box

.info
  position: absolute
  width: 420px
  right: 0
  bottom: 70px
  padding-left: 40px
  padding-top: 35px
  padding-bottom: 80px
  color: #fefefe
  background-color: $main-color
  z-index: 200
.info-content
  height: 100%

.name
  font-size: 18px

.post
  font-size: 14px
  max-height: 54px
  overflow: hidden




.col, .grid-row>.col
  box-sizing: border-box
  position: relative
  min-height: 1px
  padding-left: 15px
  padding-right: 15px
  -ms-flex-negative: 0
  flex-shrink: 0
  -ms-flex-positive: 0
  flex-grow: 0
  max-width: 100%

.grid-row
  display: flex
  -ms-flex-wrap: wrap
  flex-wrap: wrap
  box-sizing: border-box
  margin-left: -15px
  margin-right: -15px

.block-content
  margin-top: -3px
  padding-left: 20px
  margin-bottom: 12px
  width: 100%

h1
  position: relative
  font-size: 48px
h1:before
  content: ' '
  position: absolute
  width: 140px
  height: 2px
  right: calc(100% + 28px)
  top: 29px
  background-color: $main-color

h1
  display: block
  font-weight: bold
main
  flex: 1 0 auto
.content-wrapper

  margin: 0 auto
  width: 100%
  max-width: 1140px
  box-sizing: border-box


.page-header
  padding: 0 0 0 20px
  margin-bottom: 25px




.carousel-control-next-icon, .carousel-control-prev-icon
  height: 100px
  width: 100px
  outline: black
  background-size: 100%, 100%
  border-radius: 50%
  border: 1px solid black
  background-image: none


.carousel-control-next-icon:after
  content: '>'
  font-size: 55px
  color: $main-color


.carousel-control-prev-icon:after
  content: '<'
  font-size: 55px
  color: $main-color
.image_two
  margin-left: auto
.carousel__
  display: flex
  .image
    margin-right: 60px
  .unsharp
    -webkit-filter: blur(2px)
