<main>
  <div class="content-wrapper">


    <div class="page-header">
      <h1>Наше руководство</h1>
    </div>

    <div class="block-content wysiwyg">
      <div class="grid-row">
        <div class="col">
          <div class="leader-slider js-leader-slider">
            <ngb-carousel [showNavigationArrows]="true" [showNavigationIndicators]=false>
              <ng-template ngbSlide *ngFor="let leadership of ourLeadership">
                <div class="image">
                  <img [src]='leadership.image' alt="{{leadership.name}}">
                </div>
                <div class="info">
                  <div class="info-content">
                    <div class="name">{{leadership.name}}</div>
                    <div class="post">{{leadership.post}}<br></div>
                    <div class="controls">
                    </div>
                  </div>
                </div>
              </ng-template>
            </ngb-carousel>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

