main
  flex: 1 0 auto
.content-wrapper
  margin: 0 auto
  width: 100%
  max-width: 1140px
  box-sizing: border-box

.page-header
  padding: 0 0 0 20px
  margin-bottom: 25px

h1
  position: relative
  font: 500 48px/1.25 'Roboto',sans-serif
  display: block
  font-size: 2em
.wysiwyg .image:not(:empty)
  float: left
  margin-right: 28px
  margin-top: 20px
.wysiwyg p, li, p
  font: 18px/24px 'Roboto',sans-serif
  color: #666
.wysiwyg ol, .wysiwyg ul
  margin: 34px 0 53px


.wysiwyg ol
  counter-reset: olCounter

a
  background-color: transparent
  -text-decoration-skip: objects
  color: #f2264d
  text-decoration: underline
.page-procurement .btn-wrapper
  text-align: center
  margin: 30px 0
.btn-wrapper .btn
  padding-left: 30px
  padding-right: 30px
.files-list
  display: -ms-flexbox
  display: flex
  -ms-flex-wrap: wrap
  flex-wrap: wrap
  padding: 50px 0 60px
.files-list.selected
  border-top: 2px solid #e0e0e0
