@import 'src/styles'
.content
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKAQMAAAC3/F3+AAAABlBMVEUAAACZmZl+9SADAAAAAnRSTlMAM8lDrC4AAAAOSURBVAjXY0AGPCCEDAABkgAZ9NAiqAAAAABJRU5ErkJggg==)
  height: -webkit-fill-available
  display: flex
  justify-content: center
  align-items: center
.form
  background: white
  border: 1px solid $main-color
  width: 500px
  padding: 30px
  input
    border: 1px solid gray
    width: 100%
    margin: 20px 0
    height: 50px
button
  margin-top: 20px
  font-size: 18px
  padding: 10px
  color: $main-color
  background: white
  border: 1px solid $main-color
button:hover
  color: white
  background: $main-color
.button, .logo
  display: flex
  justify-content: center
  align-items: center
img
  margin: 20px 0

