<div class="content-wrapper">
  <div class="grid-row footer-contacts">
    <div class="col-lg-4">
      <a href="tel:74953748032" class="footer-link phone-link js-phone-header">
        +7 495 374-80-32                </a>
    </div>

    <div class="col-lg-4">
      <a href="mailto:info@scad.su" class="footer-link mail-link">
        <span>info@scad.su</span>
      </a>
    </div>

    <div class="col-lg-4">

      <a (click)="open()" class="footer-link feedback-link js-popup">
        <span >Обратная связь</span>

      </a>
    </div>
  </div>
  <div class="footer-copyright">
    ©2002-2019 Группа компаний SCAD tech
  </div>
</div>


