<div class="content-wrapper">
  <div class="grid-row footer-contacts">
    <div class="col-lg-4">
      <a href="tel:{{phone}}" class="footer-link phone-link js-phone-header">
       {{phone}}                </a>
    </div>

    <div class="col-lg-4">
      <a href="mailto:{{email}}" class="footer-link mail-link">
        <span>{{email}}</span>
      </a>
    </div>

    <div class="col-lg-4">

      <a (click)="open()" class="footer-link feedback-link js-popup">
        <span >Обратная связь</span>

      </a>
    </div>
  </div>
</div>


