<div class="fp-tableCell" style="height: 730px;">
  <div class="js-main-map map-container">
    <div class="map-canvas">
      <div class="img js-img js-tooltip" data-project="15" style="background-image:url(/upload/iblock/66e/66e6d65c0bd875d5139e046660a6b996.svg);left:148px;top:218px;width:810px;height:291px;" data-hasqtip="0" aria-describedby="qtip-0">
        <div style="display:none!important;" class="js-project-tooltip-content">
          <div class="project-tooltip">

            <div>Нефтепроводный транспорт 	</div>
          </div>
        </div>
      </div>
      <div class="img js-img js-tooltip" data-project="7" style="background-image:url(/upload/iblock/549/5496dc974338ad02631148034ecfb821.svg);left:376px;top:226px;width:121px;height:175px;" data-hasqtip="1" aria-describedby="qtip-1">
        <div style="display:none!important;" class="js-project-tooltip-content">
          <div class="project-tooltip">

            Транспорт
          </div>
        </div>
      </div>
      <div class="img js-img js-tooltip" data-project="14" style="background-image:url(/upload/iblock/7ec/7ec19cd06e0e697b51f9491a6ae98b1f.svg);left:533px;top:320px;width:114px;height:129px;" data-hasqtip="2" aria-describedby="qtip-2">
        <div style="display:none!important;" class="js-project-tooltip-content">
          <div class="project-tooltip">

            Нефтегазовая отрасль (переработка)
          </div>
        </div>
      </div>
      <div class="img js-img js-tooltip" data-project="13" style="background-image:url(/upload/iblock/55e/55e5f998dca512d64c74b5628a9a906b.svg);left:208px;top:343px;width:95px;height:95px;" data-hasqtip="3" aria-describedby="qtip-3">
        <div style="display:none!important;" class="js-project-tooltip-content">
          <div class="project-tooltip">

            Инфраструктура
          </div>
        </div>
      </div>
      <div class="img js-img js-tooltip" data-project="12" style="background-image:url(/upload/iblock/1f6/1f61c802521f421dbced9738ed35be25.svg);left:508px;top:160px;width:113px;height:134px;" data-hasqtip="4" aria-describedby="qtip-4">
        <div style="display:none!important;" class="js-project-tooltip-content">
          <div class="project-tooltip">

            Энергетика
          </div>
        </div>
      </div>
      <div class="img js-img js-tooltip hovered" data-project="11" style="background-image:url(/upload/iblock/6b6/6b65a266991ece93026643461052e64f.svg);left:292px;top:482px;width:94px;height:96px;" data-hasqtip="5" aria-describedby="qtip-5">
        <div style="display:none!important;" class="js-project-tooltip-content">
          <div class="project-tooltip">

            Нефтяная отрасль
            (добыча на&nbsp;морских месторождениях)
          </div>
        </div>
      </div>
      <div class="img js-img js-tooltip" data-project="10" style="background-image:url(/upload/iblock/440/4409127cf39a0bba01b2a0797630afe8.svg);left:632px;top:152px;width:111px;height:90px;" data-hasqtip="6" aria-describedby="qtip-6">
        <div style="display:none!important;" class="js-project-tooltip-content">
          <div class="project-tooltip">

            Нефтегазовая отрасль (хранение)
          </div>
        </div>
      </div>
      <div class="img js-img js-tooltip" data-project="9" style="background-image:url(/upload/iblock/4c7/4c71e77246685fc177ffcbf96102cc45.svg);left:381px;top:207px;width:85px;height:87px;" data-hasqtip="7">
        <div style="display:none!important;" class="js-project-tooltip-content">
          <div class="project-tooltip">

            Горная металлургия
          </div>
        </div>
      </div>
      <div class="img js-img js-tooltip hovered" data-project="8" style="background-image:url(/upload/iblock/7e8/7e8add9c26066ee331dbdb9c6af175b2.svg);left:262px;top:262px;width:105px;height:116px;" data-hasqtip="8" aria-describedby="qtip-8">
        <div style="display:none!important;" class="js-project-tooltip-content">
          <div class="project-tooltip">

            Нефтегазовая отрасль (добыча)
          </div>
        </div>
      </div>
      <div class="img js-img js-tooltip" data-project="6" style="background-image:url(/upload/iblock/f06/f067b498097d18d7359b57a981690782.svg);left:145px;top:452px;width:31px;height:18px;" data-hasqtip="9">
        <div style="display:none!important;" class="js-project-tooltip-content">
          <div class="project-tooltip">

            Москва
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="content-wrapper">
    <div class="map-info">
      <div class="map-info-wrapper">
        <div class="section-title">
          География проектов <br>
          SCAD tech                </div>

        <p>
          Группа компаний SCAD tech имеет более 17&nbsp;лет опыта работы
          в&nbsp;автомобильной промышленности
          и&nbsp;промышленной автоматизации.
        </p>
        <p class="small">
          Мы&nbsp;занимаем прочную позицию на&nbsp;нефтяном
          и&nbsp;газовом рынке и&nbsp;является многолетним надежным партнером как для российских,
          так и&nbsp;для зарубежных компаний.
        </p>
        <p>
          Мы&nbsp;готовы обсудить ваш проект любого масштаба и&nbsp;уровня сложности, давайте все обсудим!
        </p>
        <app-popup class="" [title]="'Напишите нам'"></app-popup>
      </div>
    </div>
  </div>
</div>
