main
  flex: 1 0 auto
.content-wrapper
  padding-bottom: 45px
  margin-bottom: 5px

.content-wrapper
  margin: 0 auto
  width: 100%
  max-width: 1140px
  box-sizing: border-box

.page-header
  padding: 0 0 0 20px
  margin-bottom: 25px
.contacts-list:not(.ie-detected)
  display: -ms-grid
  display: grid
  grid-template-columns: repeat(4,calc((100% - 30px*3)/4))
  grid-auto-rows: max-content
  grid-auto-flow: row dense
  grid-gap: 30px
.contacts-list
  position: relative
  padding-top: 20px
  padding-bottom: 100px
.selected
  grid-row-end: span 2
  grid-column-end: span 2
.big-card
  grid-column-end: span 2

h1
  position: relative
  font-size: 48px
h1:before
  content: ' '
  position: absolute
  width: 140px
  height: 2px
  right: calc(100% + 28px)
  top: 29px
  background-color: #f2264d

h1
  display: block
  font-weight: bold


