.container
  margin: 20px 100px

.contacts-list
  position: relative
  height: 590px

.contacts-list:not(.ie-detected)
  display: -ms-grid
  display: grid
  grid-template-columns: repeat(4, calc((100% - 30px*3)/4))
  grid-auto-rows: max-content
  grid-auto-flow: row dense
  grid-gap: 30px

ngb-pagination::ng-deep
  .pagination
    display: flex
    justify-content: center
    background: transparent
  .page-item.active .page-link
    color: #fff
    background-color: #f2264d
    border: none
  .page-link
    color: #f2264d
    background-color: transparent
    border: none

  .page-link span:before
    content: ''
    position: absolute
    width: 27px
    height: 4px
    background: url(/assets/sprite.svg) -308px -605px no-repeat
    left: 50%
    top: 50%
    -ms-transform: translateX(-50%) translateY(-50%)
    transform: translateX(-50%) translateY(-50%)

  .disabled span:before
    content: ''
    position: absolute
    width: 27px
    height: 4px
    background: url(/assets/sprite.svg) -277px -605px no-repeat
    left: 50%
    top: 50%
    -ms-transform: translateX(-50%) translateY(-50%)
    transform: translateX(-50%) translateY(-50%)
  span
    color: transparent
  [aria-label = 'Previous']
    transform: rotateY(180deg)
  .page-item
    margin: 0 5px
button
  margin-left: auto
  margin-top: 10px
  margin-bottom: 30px
  font-size: 18px
  padding: 10px
  color: #f2264d
  background: white
  border: 1px solid #f2264d
button:hover
  color: white
  background: #f2264d
.inline, .event
  display: flex
i
  color: red
  cursor: pointer


