@import 'src/app/app.component'
.container
  margin: 5%
input
  width: 100%
  padding: 5px
  margin-bottom: 20px
  border: 1px solid #cccccc
button
  margin-top: 20px
  font-size: 18px
  padding: 10px
  color: $main-color
  background: white
  border: 1px solid $main-color
button:hover
  color: white
  background: $main-color
table
  margin: 20px 0
  background: white
  width: 100%
  input
    margin: 0 !important
    border: none !important
  tr, td, th
    border: 1px solid #cccccc
i
  cursor: pointer
.save
  margin-left: auto
.image
  margin: 5px
  width: 150px


