<div class="container">
  <app-headline *ngIf="state === true" [title]="'Добавление руководителя'"></app-headline>
  <app-headline *ngIf="state === false" [title]="'Редактирование руководителя'"></app-headline>

  <form [formGroup]="leader">
    <div class="form-group">
      <h2>Фотография</h2>
      <input type="text" formControlName="image">
    </div>
    <div class="form-group">
      <h2>Название</h2>
      <input type="text" formControlName="name">
    </div>
    <div class="form-group">
      <h2>Должности</h2>
      <input type="text" formControlName="post">
    </div>
  </form>

  <button *ngIf="state === true" (click)="addLeader()">Добавить</button>
  <button *ngIf="state === false" (click)="updateLeader()">Сохранить</button>
</div>
