<div  >
  <app-headline *ngIf="state === true" [title]="'Добавление нового документа'"></app-headline>
  <app-headline *ngIf="state === false" [title]="'Редактирование документа'"></app-headline>

  <form [formGroup]="document">
    <div class="form-group">
      <h2>Название</h2>
      <input type="text" formControlName="title">
    </div>
    <div class="form-group">
      <h2>Номер</h2>
      <input type="text" formControlName="number">
    </div>
    <div class="form-group">
      <h2>Дата</h2>
      <input type="text" formControlName="date">
    </div>
    <div class="form-group">
      <h2>Выдан</h2>
      <input type="text" formControlName="descriptionIssuedBy">
    </div>
    <div class="form-group">
      <h2>Виды работ</h2>
      <input type="text" formControlName="descriptionTypesOfJobs">
    </div>
    <div class="form-group">
      <div class="file-block">
        <h2>Файл</h2>
        <label for="uploadFile">Загрузить файл</label>
        <span>{{fileName}}</span>
        <input id="uploadFile" formControlName="file" name="uploadFile" class="uploadFile" type="file" accept=".pdf, .doc, .docx" (change)="changeValue($event.target.files[0])">
      </div>
    </div>
    <div class="form-group">
      <h2>Срок действия</h2>
      <input type="text" formControlName="validity">
    </div>
  </form>

  <button *ngIf="state === true" (click)="addDocument()">Добавить</button>
  <button *ngIf="state === false" (click)="updateDocument()">Сохранить</button>
</div>
