<div class="about-block history">
  <div class="content-wrapper">
    <div class="block-content wysiwyg">
      <h2>История</h2>

      <p>
        Группа компаний «СКАД тех» имеет более 17&nbsp;лет опыта работы
        в&nbsp;автомобильной промышленности и&nbsp;промышленной автоматизации,
        занимает прочную позицию на&nbsp;нефтяном и&nbsp;газовом рынке
        и&nbsp;является многолетним надежным партнером как для российских, так
        и&nbsp;для зарубежных компаний.
      </p>
    </div>
  </div>

  <div class="history-frame">
    <div
      cdkDragLockAxis="x"
      cdkDrag
      #item
      class="item slide"
      (cdkDragEnded)="drag($event)"
      [style.top.px]="initialPosition.y"
      [style.left.px]="initialPosition.x"
      [cdkDragFreeDragPosition]="initialPosition">

      <div class="first-line">
        <div *ngFor="let historyEvent of historyEvents; let i = index">
          <app-history-item [historyEvent]="historyEvent" *ngIf="i === 0 || i%2 === 1"></app-history-item>
        </div>
      </div>
      <hr class="line" />
      <div class="second-line">
        <div *ngFor="let historyEvent of historyEvents; let i = index" >
          <app-history-item [historyEvent]="historyEvent" *ngIf="i !== 0 && i%2 === 0 "></app-history-item>
        </div>
      </div>
    </div>
  </div>
</div>
