<div class="about-block history">
  <div class="content-wrapper">
    <div class="block-content wysiwyg">
      <h2>История</h2>

      <p>
        Группа компаний «СКАД тех» имеет более 17&nbsp;лет опыта работы
        в&nbsp;автомобильной промышленности и&nbsp;промышленной автоматизации,
        занимает прочную позицию на&nbsp;нефтяном и&nbsp;газовом рынке
        и&nbsp;является многолетним надежным партнером как для российских, так
        и&nbsp;для зарубежных компаний.
      </p>
    </div>
  </div>

  <div
    class="history-frame"
    style="width: 3220px;"
  >
    <div
      cdkDragLockAxis="x"
      cdkDrag
      cdkDragBoundary=".history-frame"
      (cdkDragMoved)="drag($event)"
      class="slidee"
    >
      <div class="first-line">
        <div class="history-item-wrapper">
          <div class="history-item">
            <div class="inner">
              <div class="year">1999</div>
              <div class="caption">
                Создание компании ООО&nbsp;«РОССКАТавто»
              </div>
              <div class="description">
                Производство каталитических нейтрализаторов, каталитических
                коллекторов, систем выпуска отработавших газов,
                глушителей-нейтрализаторов.
              </div>
            </div>
          </div>
        </div>
        <div class="history-item-wrapper">
          <div class="history-item">
            <div class="inner">
              <div class="year">2012</div>
              <div class="caption">
                Запуск нового направления&nbsp;— «Нефтегаз»
              </div>
              <div class="description">
                Компания Разработка АСУ технологическими процессами (АСУ ТП)
                и&nbsp;АС пожаротушения (АС ПТ) для предприятий нефтегазовой
                отрасли.
              </div>
            </div>
          </div>
        </div>
        <div class="history-item-wrapper">
          <div class="history-item">
            <div class="inner">
              <div class="year">2015</div>
              <div class="caption">Открытие новых подразделений</div>
              <div class="description">
                Открылись обособленные подразделения «СКАД тех» в&nbsp;
                Тольятти, Уфе, Нижнем Новгороде и Томске. Сегодня ОП&nbsp;г.
                Тольятти&nbsp;— главная производственная площадка компании.
              </div>
            </div>
          </div>
        </div>
        <div class="history-item-wrapper">
          <div class="history-item">
            <div class="inner">
              <div class="year">2017</div>
              <div class="caption">
                Реструктуризация бизнеса в&nbsp;направлении «Автопром»
              </div>
              <div class="description">
                Направление бизнеса «Автопром» теперь сосредоточено в&nbsp;одной
                структуре&nbsp;— ООО «Техноком».
              </div>
            </div>
          </div>
        </div>
        <div class="history-item-wrapper">
          <div class="history-item">
            <div class="inner">
              <div class="year">2018</div>
              <div class="caption">Развитие продолжается</div>
              <div class="description">
                Открылось обособленное подразделение в&nbsp;г.&nbsp;Хабаровск.
                Создано новое инновационное решение&nbsp;— пакет программного
                обеспечения для диспетчеров и&nbsp;инженеров «SCAD
                CC&nbsp;Pipeline Kit».
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr class="line" />
      <div class="second-line">
        <div class="history-item-wrapper">
          <div class="history-item">
            <div class="inner">
              <div class="year">2010</div>
              <div class="caption">Создание компании «СКАД тех»</div>
              <div class="description">
                Представительство западных компаний - мировых лидеров автопрома:
                Continental Emitec GmbH, FEV GmbH, Eldor Corporation, Siemens
                AG. Продвижение их&nbsp;продуктов и&nbsp;решений
                на&nbsp;российском рынке.
              </div>
            </div>
          </div>
        </div>
        <div class="history-item-wrapper">
          <div class="history-item">
            <div class="inner">
              <div class="year">2013</div>
              <div class="caption">Создание компании «АСК Инжиниринг»</div>
              <div class="description">
                Специализация: создание автоматизированных систем управления
                и&nbsp;телемеханики в&nbsp;сфере трубопроводного транспорта
                нефти и&nbsp;нефтепродуктов, SCADA системы.
              </div>
            </div>
          </div>
        </div>
        <div class="history-item-wrapper">
          <div class="history-item">
            <div class="inner">
              <div class="year">2016</div>
              <div class="caption">Создание компании «НексусСистемс»</div>
              <div class="description">
                Открылось и&nbsp;новое подразделение в&nbsp;г.&nbsp;Самара.
                Началась масштабная реконструкция производственных площадок
                «СКАД тех».
              </div>
            </div>
          </div>
        </div>
        <div class="history-item-wrapper">
          <div class="history-item">
            <div class="inner">
              <div class="year">2017</div>
              <div class="caption">Открытие новых подразделений</div>
              <div class="description">
                Создание обособленного подразделения «СКАД тех» в&nbsp;Тюмени.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
