<div class="page">
  <div id="header" class="header">
    <header>
      <img
        alt="logo"
        src="http://scadtech.ru/upload/iblock/648/64831c0ef8d72a7defc35754cca477af.svg"/>
      <p>Admin page</p>
    </header>
  </div>
  <div class="content">
    <div id="sidebar" class="side-bar open">
      <div *ngFor="let itemMenu of menu" class="menu-link">
        <a routerLink="/{{itemMenu.link}}" routerLinkActive="active"><i
          class="material-icons" routerLinkActive="active">{{itemMenu.icon}}</i>{{itemMenu.title}}</a>
      </div>
    </div>
    <div class="main-bar">
      <div class="edit-container">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
