<div class="page">
  <div id="header" class="header">
    <header>
      <img
        alt="logo"
        src="../../../assets/logo.svg"/>
      <p>Admin page</p>
      <i class="material-icons" routerLink="/profile">
        account_circle
      </i>
    </header>

  </div>
  <div class="content">
    <div id="sidebar" class="side-bar open">
      <div *ngFor="let itemMenu of menu" class="menu-link">
        <a routerLink="/{{itemMenu.link}}" routerLinkActive="active"><i
          class="material-icons" routerLinkActive="active">{{itemMenu.icon}}</i>{{itemMenu.title}}</a>
      </div>
    </div>
    <div class="main-bar">
      <div class="edit-container">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
