.header
  max-width: 1920px
  margin: 0 auto
  box-shadow: 0 0.5rem 1rem 0 rgba(44,51,73,.1)
.header p
  padding-top: 20px
  padding-left: 20px
  font-size: 1.75rem
  white-space: nowrap
  text-decoration: none
  color: #999
header
  padding: 20px
  display: flex
.menu
  display: block
  width: 15%
  box-shadow: 5px 0 5px -5px rgba(44,51,73,.1)
.container
  display: flex
.content
  width: 85%
