<mat-drawer-container class="container">
  <div class="header">
    <header>
      <img
        alt="logo"
        src="http://scadtech.ru/upload/iblock/648/64831c0ef8d72a7defc35754cca477af.svg"/>
      <p>Admin page</p>
    </header>
  </div>
  <mat-drawer-container class="content">
    <mat-drawer mode="side" opened>
      <div class="menu">
        <div *ngFor="let itemMenu of menu" class="menu-link">
          <a routerLink="/{{itemMenu.link}}" routerLinkActive="active"><i
            class="material-icons"></i>{{itemMenu.title}}</a>
        </div>
      </div>
    </mat-drawer>

    <mat-drawer-content>
      <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>

</mat-drawer-container>

