.document
  width: 50%
  padding-top: 12px
  padding-left: 20px

.documents
  display: -ms-flexbox
  display: flex
  -ms-flex-wrap: wrap
  flex-wrap: wrap
  box-sizing: border-box
  margin-left: -15px
  margin-right: -15px
.page-header
  padding: 0 0 0 20px
  margin-bottom: 25px
h1
  font: 500 48px/1.25

