<script src="news-page.service.ts"></script>
<div class="container">
  <div>
    <app-headline [title]="'All news'"></app-headline>
    <button class="save">Save</button>
    <hr>
    <table>
      <tbody>
      <tr>
        <th>Title</th>
        <th>Date</th>
        <th>Preview</th>
        <th>Content</th>
        <th></th>
      </tr>
      <tr *ngFor="let event of events">
        <td>{{event.title}}</td>
        <td>{{event.date}}</td>
        <td>{{event.preview}}</td>
        <td>{{event.content}}</td>
        <td><i class="material-icons" (click)="deleteEvent(event)">close</i></td>
      </tr>
      </tbody>
    </table>

  </div>
  <app-headline [title]="'Add new event'"></app-headline>
  <form [formGroup]="addNews">
    <div class="form-group">
      <h2>Title</h2>
      <input type="text" formControlName="title">
    </div>
    <div class="form-group">
      <h2>Date</h2>
      <input type="text" formControlName="date">
    </div>
    <div class="form-group">
      <h2>Preview</h2>
      <input type="text" formControlName="preview">
    </div>
    <div class="form-group">
      <h2>Content</h2>
      <editor type="text" formControlName="content"
              [init]="{
        height: 500,
        plugins: [
          'advlist autolink lists link image imagetools code charmap print preview anchor',
          'searchreplace visualblocks code fullscreen',
          'insertdatetime media table paste code help wordcount'
        ],
        menubar: 'file edit insert view format table help',
        image_uploadtab: true,
        imagetools_toolbar: 'rotateleft rotateright | flipv fliph | editimage imageoptions',
        toolbar:
          ' formatselect | bold italic underline forecolor backcolor | \ alignleft aligncenter alignright alignjustify | \ bullist numlist outdent indent | removeformat '
      }"
      >
      </editor>
    </div>
  </form>

  <button (click)="addEvent()">Add new</button>
</div>


