<div class="container">
  <div>
    <app-headline [title]="'All news'"></app-headline>
    <button class="save">Save</button>
    <hr>
    <table>
      <tbody>
      <tr>
        <th>Title</th>
        <th>Date</th>
        <th>Content</th>
        <th></th>
      </tr>
      <tr *ngFor="let event of events">
        <td>{{event.title}}</td>
        <td>{{event.date}}</td>
        <td>{{event.content}}</td>
        <td><i class="material-icons" (click)="deleteEvent(event)">close</i></td>
      </tr>
      </tbody>
    </table>

  </div>
  <app-headline [title]="'Add new event'"></app-headline>
  <div class="title">
    <h2>Title</h2>
    <input value="" id="title">
  </div>
  <div class="date">
    <h2>Date</h2>
    <input value="" id="date">
  </div>
  <div class="preview">
    <h2>Preview</h2>
    <input value="" id="preview">
  </div>
  <div class="content">
    <h2>Content</h2>
    <app-textarea id="content"></app-textarea>
  </div>
  <button (click)="addEvent()">Add new</button>
</div>


