<div class="col" *ngIf="key === 'news'">
  <div *ngIf="item.previewImage.length !== 0" class="cover" [ngStyle]="{'background-image': 'url(' + item.image + ')'}">
    <i class="icon material-icons">edit</i>
  </div>
  <div *ngIf="item.previewImage.length === 0" class="cover" [ngStyle]="{'background-color': '#f2264d'}">
    <i class="icon material-icons">edit</i>
  </div>
  <p class="date">{{item.date}}</p>
  <p class="title">{{item.title.slice(0, 43)}}...</p>
</div>
<div class="col" *ngIf="key === 'leaderships'">
  <div *ngIf="item.image.length !== 0" class="cover" [ngStyle]="{'background-image': 'url(' + item.image + ')'}">
    <i class="icon material-icons">edit</i>
  </div>
  <div *ngIf="item.image.length === 0" class="cover" [ngStyle]="{'background-color': '#f2264d'}">
    <i class="icon material-icons">edit</i>
  </div>
  <p class="date">{{item.name}}</p>
</div>
<div class="col" *ngIf="key === 'partners'">
  <div *ngIf="item.image.length !== 0" class="cover" [ngStyle]="{'background-image': 'url(' + item.image + ')'}">
    <i class="icon material-icons">edit</i>
  </div>
  <div *ngIf="item.image.length === 0" class="cover" [ngStyle]="{'background-color': '#f2264d'}">
    <i class="icon material-icons">edit</i>
  </div>
  <p class="date">{{item.name}}</p>
</div>
