@import 'src/app/app.component'

input, textarea
  width: 100%
  padding: 5px
  margin-bottom: 20px
  border: 1px solid #cccccc

table
  margin: 20px 0
  background: white
  width: 100%
  input
    margin: 0 !important
    border: none !important
  tr, td, th
    border: 1px solid #cccccc
i
  cursor: pointer
.save

.image
  margin: 5px
  width: 150px

.description
  height: 300px
button
  font-size: 18px
