<div class="block-content">
  <div class="document">
    <div>
      <i class="icon-file-by-ext" data-ext="{{document?.fileType.split('/')[1]}}"></i>
    </div>
    <div>
      <a href="{{document.link}}" class="title" target="_blank" download="">{{document.title}}</a>
      <div class="title"> {{document.number}}</div>
      <div class="date">{{document.date}}</div>
      <div *ngIf="document.descriptionIssuedBy.length !== 0" class="description">
        Выдан: {{document.descriptionIssuedBy}}</div>
      <div *ngIf="document.descriptionTypesOfJobs.length !== 0" class="description">Виды
        работ: {{document.descriptionTypesOfJobs}}</div>
      <div *ngIf="document.validity.length !== 0" class="description">Срок действия: до {{document.validity}}</div>
    </div>

  </div>
</div>

