main
  flex: 1 0 auto
  padding-bottom: 68px

.content-wrapper
  margin: 0 auto
  width: 100%
  max-width: 1140px
  box-sizing: border-box
.grid-row
  display: -ms-flexbox
  display: flex
  -ms-flex-wrap: wrap
  flex-wrap: wrap
  box-sizing: border-box
  margin-left: -15px
  margin-right: -15px
.container
  padding: 0 15px
.col-lg-9
  width: 75%
  box-sizing: border-box
  position: relative
  min-height: 1px
  padding-left: 15px
  padding-right: 15px
  -ms-flex-negative: 0
  flex-shrink: 0
  -ms-flex-positive: 0
  flex-grow: 0
  max-width: 100%
h1
  position: relative
  font-size: 48px
h1:before
  content: ' '
  position: absolute
  width: 140px
  height: 2px
  right: calc(100% + 28px)
  top: 29px
  background-color: #f2264d

h1
  display: block
  font-weight: bold
ol
  margin: 0
  padding: 0
img
  margin: 10px 0
  max-width: 100%
  height: auto

li
  padding-left: 30px
  list-style: none
  font-size: 18px
  color: #666
  position: relative
  display: list-item
  text-align: -webkit-match-parent
li+li
  margin-top: 23px
ol>li:before, .wysiwyg ul ol>li:before, ol>li:before, ul ol>li:before
  position: absolute
  left: 0
  top: 0
  counter-increment: olCounter
  content: counter(olCounter)
  color: #f2264d
  font-weight: 700
  margin: 0 2px 0 0


.link
  display: -ms-inline-flexbox
  display: inline-flex
  -ms-flex-align: center
  align-items: center
  -ms-flex-pack: center
  justify-content: center
  min-width: 215px
  height: 38px
  box-sizing: border-box
  border: 1px solid #f2264d
  color: #f2264d
  font: 14px/1.42 'Roboto',sans-serif
  transition: .3s color,.3s background-color
  margin-top: 3px

a
  background-color: transparent
  -text-decoration-skip: objects
  color: #f2264d
  text-decoration: underline

.link span
  width: 27px
  height: 1px
  margin-left: 10px
  margin-right: -14px
  display: inline-block
  background-color: #f2264d
  position: relative
  transition: .3s background-color,.3s width,.3s margin

.link span:before
  content: ''
  position: absolute
  transition: border-color .3s ease
  right: 0
  top: -1px
  border-style: solid
  border-width: 1.5px 0 1.5px 2px
  border-color: transparent transparent transparent #f2264d
