<div class="container">
  <app-headline *ngIf="state === true" [title]="'Добавление новой ценности'"></app-headline>
  <app-headline *ngIf="state === false" [title]="'Редактирование ценности'"></app-headline>

  <form [formGroup]="worth">
    <div class="form-group">
      <div class="image-block">
        <h2>Фотография</h2>
        <div class="image-control-wrapper">
          <label for="uploadImage">Загрузить изображение</label>
          <img *ngIf="!imagePreview && f.image.value" class="image-preview" src="https://boxing-wizards-jump.herokuapp.com{{ f.image.value }}" alt="image">
          <ng-template [ngIf]="imagePreview">
            <img class="image-preview" src="{{ imagePreview }}" alt="image" />
          </ng-template>
          <input id="uploadImage" name="uploadImage" class="uploadImage" type="file" accept=".png, .jpg, .jpeg" (change)="changeValue($event)">
        </div>
      </div>
    </div>
    <div class="form-group">
      <h2>Название</h2>
      <input type="text" formControlName="name">
    </div>
    <div class="form-group">
      <h2>Описание</h2>
      <textarea class="description" type="text" formControlName="description"></textarea>
    </div>
  </form>

  <button *ngIf="state === true" (click)="addValue()">Добавить</button>
  <button *ngIf="state === false" (click)="updateValue()">Сохранить</button>
</div>
